@import url('https://fonts.googleapis.com/css2?family=Paytone+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=SUSE:wght@100..800&display=swap');

body {
    margin: 0;
    /* background: linear-gradient(to bottom, #2D1A3E, #0A1913); */
    background: linear-gradient(to bottom, #4b0082, #0A1913 30%);
    color: #ddd;
    font-family: Poppins, sans-serif;
    font-size: 14px;
    width: 100vw;
    min-height: 100vh;
    padding: 2em 0;
    position: relative;
}

.choicesContainer {
    color:#333
}

#iconBack {
    position: absolute;
    left: 5em;
    top: 1em;
}

#licenceTypeContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
        height: 100px;
    }
}

@media (max-width: 768px) {
    #iconBack {
        left: 1em;
    }
}

#imgModal .modal-dialog {
    max-width: fit-content !important; /* Ajusta el ancho al contenido */
    width: auto !important; /* Asegura que no tenga un ancho fijo */
    margin: 1.75rem auto; /* Vuelve a centrarlo si es necesario */
}

/* Opcional: Para controlar el tamaño máximo de la imagen dentro del modal */
#imgModal #imgContent {
    max-width: 100%; /* Asegura que la imagen no se desborde del modal */
    height: auto;
    display: block; /* Para centrar la imagen si es más pequeña que el modal */
    margin: auto;
}